<template>
  <div>
    <b-container>
      <b-row>
        <b-col class="col-12">
          <b-link @click="$router.go(-1)" class="float-left"><< Return</b-link>
        </b-col>
        <b-col class="col-12">
          <h2>Login Form</h2>
        </b-col>
        <b-col class="col-12 text-left">
          <b-form>
            <b-form-group label="Email">
              <b-input></b-input>
            </b-form-group>
            <b-form-group label="Password">
              <b-input></b-input>
            </b-form-group>
            <b-form-group>
              <b-button variant="dark" block>Log In</b-button>
            </b-form-group>
            <b-form-group class="text-center">
              <b-link>I forgot my password</b-link>
            </b-form-group>
          </b-form>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>

</style>
