<template>
  <div>
    <b-container>
      <b-row>
        <b-col class="col-12">
          <b-link @click="$router.go(-1)" class="float-left"><< Return</b-link>
        </b-col>
        <b-col class="col-12">
          <h2>Registration Form</h2>
        </b-col>
        <b-col class="col-12 text-left">
          <b-form>
            <b-form-group label="First Name">
              <b-input type="text" v-model="form.first_name"></b-input>
            </b-form-group>
            <b-form-group label="Last Name">
              <b-input type="text" v-model="form.last_name"></b-input>
            </b-form-group>
            <b-form-group label="Email">
              <b-input type="email" v-model="form.email"></b-input>
            </b-form-group>
            <b-form-group label="Password">
              <b-input type="password" v-model="form.password"></b-input>
            </b-form-group>
            <b-form-group>
              <b-button variant="dark" block @click.prevent="registerUser">Register</b-button>
            </b-form-group>
            <b-form-group class="text-center">
              <nuxt-link to="/auth/login">I already have an account</nuxt-link>
            </b-form-group>
          </b-form>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  data(){
    return {
      loading: false,
      form: {
        first_name: "",
        last_name: "",
        email: "",
        password: ""
      }
    }
  },
  methods: {
    async registerUser() {
      this.loading = true;
      let data = this.form;
      try {
        await this.$axios.post("/api/account/register", data);
        this.loading = false;
        this.$bvToast.toast(
            "Account created successfully", {
              variant: "success",
              title: "Success!",
          });
      } catch (error) {
        this.loading = false;
        this.$bvToast.toast(
          error.response ? error.response.data.error : "Sorry an error occurred", {
          title: "Error!",
          variant: "danger",
          solid: true,
        });
      }
    }
  }

}
</script>

<style scoped>

</style>
