<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 512 512" style="width: 200px; height: 200px; enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<path style="fill:#C1DC3C;" d="M335.887,135.09c-27.89,29.995-55.191,34.06-72.135,32.717c-13.203-1.046-20.93-8.851-23.238-19.802
		c-3.363-15.95-2.313-42.372,25.598-72.39c18.731-20.146,35.222-30.061,48.823-34.381c30.257-9.611,59.159,18.708,49.635,48.993
		C360.671,102.625,352.163,117.585,335.887,135.09z"/>
  <path style="fill:#C1DC3C;" d="M176.119,135.09c27.89,29.995,55.191,34.06,72.135,32.717c13.203-1.046,20.93-8.851,23.238-19.802
		c3.363-15.95,2.313-42.372-25.598-72.39c-18.731-20.146-35.222-30.061-48.823-34.381c-30.257-9.611-59.159,18.708-49.635,48.993
		C151.335,102.625,159.843,117.585,176.119,135.09z"/>
</g>
    <path style="fill:#FF5E8A;" d="M391.6,303.623c0,97.139-135.597,198.179-135.597,198.179s-135.597-101.04-135.597-198.179
	c0-74.888,60.709-135.597,135.597-135.597S391.6,228.735,391.6,303.623z"/>
    <path style="fill:#C1DC3C;" d="M301.78,84.343c0.376,40.956-16.65,62.681-29.876,73.357c-10.305,8.318-21.282,7.966-30.489,1.602
	c-13.409-9.268-30.817-29.173-31.193-70.16c-0.253-27.507,4.902-46.046,11.807-58.535c15.359-27.784,55.817-27.096,69.727,1.44
	C297.451,43.73,301.561,60.442,301.78,84.343z"/>
    <g>
	<path style="fill:#570029;" d="M309.85,168.137c10.797-5.558,22.143-13.88,33.506-26.103
		c15.654-16.836,26.064-33.237,30.942-48.748c5.599-17.804,1.023-36.329-12.243-49.557c-13.213-13.176-32.452-17.858-50.21-12.217
		c-2.63,0.835-5.283,1.842-7.942,2.993c-0.919-2.406-1.907-4.724-2.981-6.929c-8.178-16.776-24.239-27.079-42.965-27.56
		c-18.647-0.471-35.842,9.35-44.855,25.655c-1.589,2.875-3.028,5.925-4.331,9.129c-2.884-1.278-5.762-2.384-8.614-3.29
		c-17.758-5.638-36.996-0.957-50.209,12.218c-13.265,13.228-17.842,31.753-12.243,49.557c4.877,15.51,15.288,31.911,30.942,48.748
		c11.365,12.223,22.71,20.544,33.505,26.103c-53.817,21.465-91.948,74.104-91.948,135.486c0,42.896,23.7,90.794,70.44,142.366
		c34.173,37.704,67.844,62.935,69.261,63.991c1.807,1.347,3.951,2.02,6.094,2.02c2.144,0,4.286-0.673,6.095-2.02
		c1.417-1.056,35.087-26.286,69.26-63.991c46.741-51.57,70.44-99.47,70.44-142.366C401.798,242.241,363.667,189.601,309.85,168.137z
		 M318.023,50.954c10.634-3.379,21.71-0.677,29.631,7.22c7.772,7.75,10.459,18.588,7.187,28.992
		c-3.961,12.595-12.851,26.381-26.422,40.977c-13.652,14.683-26.969,22.508-38.767,26.373
		c11.983-14.213,22.639-36.393,22.328-70.268c-0.1-10.831-0.988-20.778-2.634-29.812C312.277,53.024,315.18,51.857,318.023,50.954z
		 M256.62,20.398c0.27,0,0.541,0.003,0.813,0.01c10.972,0.283,20.376,6.304,25.153,16.108c5.786,11.868,8.812,27.991,8.994,47.92
		c0.328,35.654-13.476,54.853-25.413,64.774l0.118-93.416c0.008-5.632-4.553-10.205-10.186-10.212c-0.004,0-0.009,0-0.013,0
		c-5.627,0-10.192,4.558-10.199,10.186l-0.119,94.101c-11.719-8.705-25.029-26.201-25.347-60.822
		c-0.207-22.487,3.337-40.489,10.534-53.507C236.221,26.015,245.772,20.398,256.62,20.398z M183.587,128.144
		c-13.572-14.597-22.462-28.383-26.422-40.977c-3.272-10.403-0.585-21.242,7.187-28.992c7.922-7.899,18.997-10.599,29.63-7.221
		c2.941,0.935,5.947,2.155,8.986,3.636c-2.068,10.402-3.06,21.967-2.944,34.646c0.286,31.042,9.58,51.417,20.588,64.689
		C209.252,149.87,196.57,142.107,183.587,128.144z M256.003,488.851c-13.265-10.643-45.818-38.126-74.432-73.073h78.441
		c5.632,0,10.199-4.567,10.199-10.199s-4.567-10.199-10.199-10.199h-93.98c-20.143-28.642-35.426-60.627-35.426-91.756
		c0-11.122,1.463-21.907,4.193-32.182h56.053c5.633,0,10.199-4.567,10.199-10.199c0-5.632-4.566-10.199-10.199-10.199h-48.674
		c19.92-42.952,63.447-72.818,113.825-72.818c69.144,0,125.396,56.253,125.396,125.397c0,17.872-5.048,36.026-13.15,53.667H266.026
		c-5.632,0-10.199,4.567-10.199,10.199s4.567,10.199,10.199,10.199h91.451C326.338,429.972,273.798,474.575,256.003,488.851z"/>
      <path style="fill:#570029;" d="M233.951,251.044h-6.013c-5.633,0-10.199,4.567-10.199,10.199c0,5.632,4.566,10.199,10.199,10.199
		h6.013c5.633,0,10.199-4.567,10.199-10.199C244.15,255.611,239.584,251.044,233.951,251.044z"/>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
</svg>

</template>

<style>
.NuxtLogo {
  animation: 1s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
